<form id="contactForm" class="formhandler" action="http://metrix.meritmile.com/email.aspx" method="POST"><input name="auth" type="hidden" value="db202eb3-4375-4214-bf4a-003bdfdd59b7" />
<input id="human-check" class="hu" style="display: none;" name="human-check" type="text" />
<div class="group">
<div class="pair"><label for="fname">First Name</label><!-- --><input id="fname" class="text" name="fname" type="text" data-query="fn" /></div>
<div class="gutter"></div>
<div class="pair"><label for="lname">Last Name</label><!-- --><input id="lname" class="text" name="lname" type="text" data-query="ln" /></div>
<div class="pair"><label for="phone">Phone</label><!-- --><input id="phone" class="text" name="phone" type="text" data-query="ph" /></div>
<div class="gutter"></div>
<div class="pair"><label for="email">Email</label><!-- --><input id="email" class="text" name="email" type="text" data-query="em" /></div>
</div>
<div class="role">
<div class="options"><input id="plaintiff" name="role" type="radio" value="Plaintiff" data-query="ro" /><!-- --><label for="plaintiff">I am a plaintiff currently working with an attorney.</label></div>
<div class="options"><input id="attorney" name="role" type="radio" value="Attorney" data-query="ro" /><!-- --><label for="attorney">I am an attorney handling an existing case.</label></div>
</div>
<div><label for="message">Message</label><!-- --><textarea id="message" cols="30" name="message" rows="10" data-query="me"></textarea></div>
<div style="display:none;"><input type="hidden" name="utmSource" value="">
<input type="hidden" name="utmMedium" value="">
<input type="hidden" name="utmTerm" value="">
<input type="hidden" name="utmContent" value="">
<input type="hidden" name="utmCampaign" value="">
</div>
<div class="group">
<div class="pair"></div>
<div class="gutter"></div>
<div class="pair submit"><input type="submit" value="Send Message" /></div>
</div>
</form>
